{"data":[
  {
    "name": "eventBus",
    "activityClassName": "com.xian.myapp.activities.com.xian.myapp.activities.EventBusTest"
  },
  {
    "name": "tabtest",
    "activityClassName": "com.xian.myapp.activities.com.xian.myapp.activities.TabMainTest"
  },
  {
    "name": "actionbar",
    "activityClassName": "com.xian.myapp.activities.ActionBarTest"
  },
  {
    "name": "photo show",
    "activityClassName": "com.xian.myapp.activities.PhotoShowTest"
  },
  {
    "name": "volley",
    "activityClassName": "com.xian.myapp.activities.VolleyActivity"
  },
  {
    "name": "ontouch test",
    "activityClassName": "com.xian.myapp.activities.TouchActivity"
  },
  {
    "name": "upload /download",
    "activityClassName": "com.xian.myapp.activities.UpLoadAndDownLoadActivity"
  },
  {
    "name": "uncaughtException",
    "activityClassName": "com.xian.myapp.activities.UnCatchExceptionActivity"
  },
  {
    "name": "fragment",
    "activityClassName": "com.xian.myapp.activities.MyFragmentActivity"
  },
  {
    "name": "viewStub include merge",
    "activityClassName": "com.xian.myapp.activities.ViewActivity"
  },
  {
    "name": "swipe",
    "activityClassName": "com.xian.myapp.activities.SwipeActivity"
  },
  {
    "name": "webview",
    "activityClassName": "com.xian.myapp.activities.WebViewActivity"
  },
  {
    "name": "md5",
    "activityClassName": "com.xian.myapp.activities.MD5Activity"
  },
  {
    "name": "recyclerView",
    "activityClassName": "com.xian.myapp.activities.RecyclerActivity"
  },
  {
    "name": "JNI",
    "activityClassName": "com.xian.myapp.activities.JNIActivity"
  },
  {
    "name": "okHttp",
    "activityClassName": "com.xian.myapp.activities.OkHttpActivity"
  },
  {
    "name": "AnimationActivity",
    "activityClassName": "com.xian.myapp.activities.AnimationActivity"
  },
  {
    "name": "draw activity",
    "activityClassName": "com.xian.myapp.activities.MyViewActivity"
  },
    {
        "name": "bindservice",
        "activityClassName": "com.xian.myapp.activities.BindActivity"
      },
  {
      "name": "aidl",
      "activityClassName": "com.xian.myapp.activities.AidlActivity"
    },
    {
      "name": "test",
      "activityClassName": "com.xian.myapp.activities.TestActivity"
    }
]
}

