*.class
*.apk
*/gen
*.DS_Store
*/out
*/.idea
*.iml
!/CCarwash/assets/components/*.apk
/kefu
CCarWash/build
alipay_lib/build
build/
.gradle/
.idea/
local.properties
gradle/
gradlew
gradlew.bat
captures/
app/obj/
app/src/main/obj