<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xian.myapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.read_external_storage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.xian.myapp.activities.MyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="gjcw" />
            </intent-filter>
        </activity>
        <!-- eventbus start -->
        <activity
            android:name="com.xian.myapp.activities.EventBusTest"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator">

        </activity>

        <activity
            android:name="com.xian.myapp.activities.EventBusTest1"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator">

        </activity>

        <service
            android:name=".services.EventBusRemoteService"
            android:process=":eventbus"></service>
        <service android:name=".services.EventBusService"></service>
        <!-- eventbus end -->
        <!-- tab test start-->
        <activity
            android:name="com.xian.myapp.activities.TabMainTest"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.TabStyle1"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.TabStyle2"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.TabStyle3"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.TabViewPager"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.TabSecondActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.TabViewPagerGanji"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- tab test end-->
        <!-- tab test start-->
        <activity
            android:name="com.xian.myapp.activities.ActionBarTest"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <activity
            android:name="com.xian.myapp.activities.ActionBarStyle1"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.ActionBarStyle2"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- tab test end-->
        <!-- tab test start-->

        <activity
            android:name="com.xian.myapp.activities.PhotoShowTest"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <!-- tab test end-->

        <!-- volley test start-->
        <activity
            android:name="com.xian.myapp.volley.VolleyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <!-- volley test end-->
        <!-- touch test start-->
        <activity
            android:name="com.xian.myapp.activities.TouchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <!-- touch test end-->

        <!-- upload download test start-->
        <activity
            android:name="com.xian.myapp.activities.UpLoadAndDownLoadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <!-- upload download end-->

        <!-- catchException-->
        <activity
            android:name="com.xian.myapp.activities.UnCatchExceptionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- catchException-->

        <!-- fragment-->
        <activity
            android:name="com.xian.myapp.activities.MyFragmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.MyFragmentActivity1"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.MyFragmentActivity2"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.MyFragmentActivity3"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- fragment-->
        <!-- view-->
        <activity
            android:name="com.xian.myapp.activities.ViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- view-->
        <!-- swipe -->
        <activity
            android:name="com.xian.myapp.activities.SwipeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.swipe.GridViewExample"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.swipe.ListViewCursorExample"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.swipe.ListViewExample"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.swipe.NestedExample"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- swipe -->
        <!-- webview-->
        <activity
            android:name="com.xian.myapp.activities.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- webview-->

        <!-- md5-->
        <activity
            android:name="com.xian.myapp.activities.MD5Activity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- md5-->

        <!-- recycler-->
        <activity
            android:name="com.xian.myapp.activities.RecyclerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- recycler -->

        <!-- jni-->
        <activity
            android:name="com.xian.myapp.activities.JNIActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!-- jni -->
        <!-- ok http -->
        <activity
            android:name="com.xian.myapp.activities.OkHttpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!--  ok http -->
        <!-- ok animation -->
        <activity
            android:name="com.xian.myapp.activities.AnimationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.AnimationViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.AnimationDrawableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>
        <activity
            android:name="com.xian.myapp.activities.AnimationPropertyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!--  ok animation -->
        <!--  ok animation -->
        <activity
            android:name="com.xian.myapp.activities.MyViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!--  ok animation -->
        <!--  ok test -->
        <activity
            android:name="com.xian.myapp.activities.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CHomePageIndicator"></activity>

        <!--  ok test -->
    </application>
</manifest>
